.imageWrapper {
  height: 12rem;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.body {
  padding: var(--nh-space-5);
  display: flex;
  flex-direction: column;
  gap: var(--nh-space-2);
  flex: 1;
}

.title {
  font-size: var(--nh-text-lg);
  font-weight: var(--nh-weight-bold);
}

.description {
  font-size: var(--nh-text-sm);
  line-height: var(--nh-leading-normal);
}

.price {
  font-size: var(--nh-text-base);
  font-weight: var(--nh-weight-bold);
  margin-top: var(--nh-space-1);
}
